*.pyc
.pytest_cache/
*.log
.DS_Store
.idea/
.vscode/
results/
plotting/
aes/

# Python virtual environment
rng_accel_env/
.env
.venv/
*.pyenv

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/

# Torch specific
*.pt
*.pth